---
import {Image} from 'astro:assets';
import type {CollectionEntry} from 'astro:content';
import type {MarkdownHeading} from "astro";
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import FormattedDate from '../components/FormattedDate.astro';


type Props = CollectionEntry<'project'>['data'] & {
    headings?: MarkdownHeading[]
};

const {
    title,
    description,
    heroImage,
    startDate,
    updatedDate,
    company,
    role,
    skills,
	links,
    headings
} = Astro.props;
---

<html lang="en">
<head>
    <BaseHead title={title} description={description}/>
</head>

<body class="bg-white text-gray-900">

<Header/>

<main class="px-8 lg:px-16 py-16">

    <article class="max-w-[1024px] mx-auto">
        
        <header class="max-w-4xl mb-16">

            <h1 class="text-4xl lg:text-5xl font-bold mb-4">
                {title}
            </h1>

            {description && (
                    <p class="text-xl text-gray-500 mb-10">
                        {description}
                    </p>
            )}

            {heroImage && (
                    <div class="mb-20 max-w-2xl ">
                        <Image
                                class="rounded-xl shadow-lg w-full"
                                width={1400}
                                height={700}
                                src={heroImage}
                                alt=""
                        />
                    </div>
            )}

        </header>

        <div class="grid grid-cols-1 lg:grid-cols-12 gap-20">

            <div class="lg:col-span-8 prose prose-neutral max-w-none text-lg">
                <slot/>
            </div>

            <aside class="lg:col-span-4 lg:sticky lg:top-24 h-fit text-xs order-first lg:order-none mb-4 lg:mb-0 pt-2 lg:pt-3">
                <div class="space-y-4 lg:space-y-6 pl-0 lg:pl-6">

                    {(company || role || startDate || updatedDate) && (
                            <div class="flex flex-col gap-1">
                                {company && <div><span class="font-semibold">Company:</span> {company}</div>}
                                {role && <div><span class="font-semibold">Role:</span> {role}</div>}
                                {startDate && <div><span class="font-semibold">Timeline:</span> <FormattedDate date={startDate}/> – Present</div>}
                                {startDate && <div><span class="font-semibold">Last Updated:</span> <FormattedDate date={updatedDate}/></div>}
                            </div>
                    )}

                    {skills && skills.length > 0 && (
                            <div>
                                <div class="uppercase tracking-wide font-semibold mb-1">Skills</div>
                                <div class="flex flex-wrap gap-1">
                                    {skills.map(skill => (
                                            <span class="px-2 py-0.5 bg-brand-green rounded text-brand-white">{skill}</span>
                                    ))}
                                </div>
                            </div>
                    )}

                    {links && links.length > 0 && (
                            <div>
                                <div class="uppercase tracking-wide font-semibold mb-1">Links</div>
                                <div class="flex flex-wrap gap-1">
                                    {links.map(link => (
                                            <a href={link.url} target="_blank" class="px-2 py-0.5 bg-brand-white rounded">{link.name}</a>
                                    ))}
                                </div>
                            </div>
                    )}

                    {headings && headings.length > 0 && (
                            <div>
                                <div class="uppercase font-semibold tracking-wide mb-1">Contents</div>
                                <ul class="list-none ml-0 space-y-1">
                                    {headings.map(heading => (
                                            <li class={`${heading.depth === 3 ? 'pl-3' : ''}`}>
                                                <a href={`#${heading.slug}`} class={`${heading.depth === 2 ? 'font-semibold' : 'text-xs'}`}>
                                                    {heading.text}
                                                </a>
                                            </li>
                                    ))}
                                </ul>
                            </div>
                    )}
                </div>
            </aside>


        </div>

    </article>

</main>

<Footer/>

</body>
</html>